<% content_for :head do %>
    <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<%= render 'partials/nav2' %>


  <div style="

      <% if @user.header? %>
  background: url(<%= @user.header.url(:medium) %>) center center no-repeat;
          <% else %>
          background: url(http://www.barbaraparisi.com/x/images/1000x300/l1010523_2_1000x300.jpg) center center no-repeat;
          <% end %>

      background-size: 100% auto; margin-top: -12px!important;" class="profile-header">

  </div>

<div style="position: relative;" class="profile-container">
  <% if @user.avatar? %>
    <div style="background: url(<%= @user.avatar.url(:medium) %>) center center no-repeat; background-size:cover;" class="profile-img-container"></div>
  <% else %>
      <div style="background: url(https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg) center center no-repeat; background-size:cover;" class="profile-img-container"></div>
<% end %>

  <h1 class="profile-name" style="color:rgb(81,81,81);"><%= @user.first_name %> <%= @user.last_name %></h1>
  <h1 style="font-size:12px !important;" class="profile-name">Member since <%= @user.created_at.strftime('%B/%d/%Y') %></h1>

  <h1 <% if user_signed_in? && current_user.id == @user.id %> onclick="window.location.href='/friends'" <% else %> onclick="window.location.href='/user/<%= @user.username %>/friends'" <% end %>  style="font-size:12px !important; cursor: pointer; color:rgb(50,50,200); " class="profile-name">Followers <%= @user.followers.count %></h1>
  <h1 <% if user_signed_in? && current_user.id == @user.id %> onclick="window.location.href='/friends'" <% else %> onclick="window.location.href='/user/<%= @user.username %>/friends'" <% end %> style="color:rgb(50,50,200); cursor: pointer; font-size:12px !important;" class="profile-name">Following <%= @user.following.count %></h1>

  <% if user_signed_in? %>
      <% if current_user.id == @user.id %>
          <a href="/users/edit"><button class="follow-btn">Edit Profile</button></a>
          <a href="/friends"><button style="top: 150px !important; " class="follow-btn">Your Friends</button></a>
<% end %>
  <% end %>

  <%= render 'partials/follow_button' %>


</div>

<h1 class="your-articles">Your Articles</h1>
<!-- Top slider -->
<% if @user.articles.present? %>

    <div style="margin-top: 100px;" class="container profile-container2">
      <div class="row">

        <% @user.articles.each do |article| %>
            <div style="cursor: pointer;"  class="col-md-5th-1 col-sm-4 profile-articles">
              <div style=" <% if article.cover? %> background: url(<%= article.cover.url(:medium) %>) <% else %> background: url(http://images.all-free-download.com/images/graphiclarge/blurred_golden_background_192849.jpg) <% end %> center center no-repeat; background-size:cover;" class="profile-article-img"></div>
              <h1><%= article.title %></h1>
              <p><%= article.created_at.strftime('%B/%d/%Y') %></p>
            </div>
        <% end %>

      </div>
    </div>


<% else %>
  <div class="no-articles">
      <% if user_signed_in? && @user.id == current_user.id  %>
      <h1 style="color:rgb(81,81,81);">You don't have any articles <i class="fa fa-frown-o" aria-hidden="true"></i></h1>
      <% else %>
        <h1><%= @user.first_name %> does not have any articles <i class="fa fa-frown-o" aria-hidden="true"></i></h1>
      <% end %>

  </div>
<% end %>

<%= render 'partials/footer' %>

<!-- End Top Slider -->



<!--- Slick Slider --->
<script>
    $('.slider').slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3,
        centerMode: true,
        autoplay: true,
        autoplaySpeed: 2000,
    });

    $(".slick-next").html(">");
    $(".slick-prev").html("<");

</script>

<% if user_signed_in? %>
  <% if @user.id == current_user.id %>
  <% if !@user.avatar? && !@user.header? %>
    <script>
        alertify.success('Update Your Profile Image <i class="fa fa-picture-o"></i>');
        setTimeout(function(){
            alertify.success('Update Your Cover Art <i class="fa fa-picture-o"></i>');
        },500);
    </script>
    <% end %>

    <% if !@user.avatar? && @user.header? %>
        <script>
            alertify.success('Update Your Profile Image <i class="fa fa-picture-o"></i>');
        </script>
    <% end %>

    <% if @user.avatar? && !@user.header? %>
      <script>
          alertify.success('Update Your Cover Art <i class="fa fa-picture-o"></i>');
      </script>
    <% end %>

  <% end %>

<% end %>