
<style>
  .center-content {
    display: block;
    margin: 0 auto;
    text-align:center;
    margin-top: 70px;
  }

    input {
      display: block;
      margin: 0 auto;
    }

    input[type="file"]{

    }

    label {
      color:#569eca;
      margin-top: 10px;

    }

    .container {
      margin-top: 90px;
    }

    .btn-primary {
      color:white !important;
    }

    .submit-btn3 {
      margin-top: 30px;
    }


</style>


<%= render 'partials/nav2' %>

<div class="container">

  <h1>Edit Your Profile <span style="font-size:14px;">(<%= current_user.first_name %> this is were you can change your avatar, header, and update you user information)</span></h1>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <label for="avatar">Change Avatar</label><br />
    <%= f.file_field :avatar, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :header %><br />
    <%= f.file_field :header, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true , class: "form-control"%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    <% if @minimum_password_length %>
      <br />
    <% end %>
  </div>

  <div style="margin-top: -20px;" class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div style="margin-top: 40px" class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" , class: "form-control"%>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary submit-btn3" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "btn btn-primary", method: :delete %></p>

</div>

<%= render  'partials/footer' %>