<style>
  .bottom-footer {
    margin-top: 20px !important;
  }



  @media only screen and (max-width: 1200px) {
      .sign-up-img {
        width: 100% !important;
        position: relative !important;
      }

    form {
      width: 100% !important;
      margin:0  !important;
      transform: translateY(90px) !important;
      margin-bottom: 50px !important;
    }

    form input {
      display: block !important;
      margin: 0 auto !important;

      margin-top: 10px !important;
    }

    .sign-up-form {
      position: relative !important;
      background:red !important;
    }
    em {
      text-align: center !important;
      display: block;
      margin: 0 auto;
    }

    input[type="submit"]{
      margin-bottom: 60px;
    }
    #error_explanation {
      position: relative !important;
      animation: none !important;
      z-index: 1 !important;
    }

    .were-glad {
      text-align:center;
      margin: 0 !important;
    }

    .bottom-footer {
      display: none !important;
    }
  }



  @media only screen and (max-width: 900px) {

  }


  @media only screen and (max-width: 600px){

  }

  @media only screen and (max-width: 400px) {


  }

  @media only screen and (max-width: 350px) {

  }
</style>

<%= render 'partials/nav2' %>



<div style="margin-top:-20px; background:white !important;" class="sign-up-form">
  <div class="sign-up-img">
    <h1 style="color:white;">Discover <br/> Modern Fitness</h1>
  </div>
<h2 class="were-glad" style="color:grey;margin-left: 30px; margin-bottom: 100px; transform: translateY(70px)">We're Glad You're Interested!</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "sign-up-form-form"})  do |f| %>
  <%= devise_error_messages! %>



    <label>
      <%= f.email_field :email, placeholder: "Email" %>
      <span>Email</span>
    </label>

    <label>
      <%= f.text_field :username, placeholder: "Username" %>
      <span>Username</span>
    </label>

    <label>
      <%= f.text_field :first_name, placeholder: "First Name"  %>
      <span>First Name</span>
    </label>

    <label>
      <%= f.text_field :last_name, placeholder: "Last Name" %>
      <span>Last Name</span>
    </label>


  <label>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" , placeholder: "Password"%>
    <span>Password</span>
  </label>

  <label>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
    <span>Password Comfirmation</span>
  </label>

  <label>
    <%= f.submit "Sign up" %>
  </label>
<% end %>


</div>

<%= render 'partials/footer' %>

<script>
    $(function() {
        $('input').on('change', function() {
            var input = $(this);
            if (input.val().length) {
                input.addClass('populated');
            } else {
                input.removeClass('populated');
            }
        });

        setTimeout(function() {
            $('#fname').trigger('focus');
        }, 500);
    });

    $("#error_explanation h2").html("Please resolve the errors below");
</script>

