

<style>
  @media only screen and (max-width: 1200px) {

  }

  @media only screen and (max-width: 600px) {
    .material-textfield label::before, .material-textfield .new-title:focus ~ label::before {
      font-size: 12px;
      top: -8.7rem;
      font-weight: 900 !important;

    }
    .material-textfield input:focus ~ label::after {
      left: 0%;
      width: 100%;
      font-weight: 900 !important;
      color:white;


    }

    .material-textfield {
      margin: 0 !important;
      text-align:left !important;
      margin-left: 0px !important;
    }
    .material-textfield input:invalid ~ label::before {
      font-size: 10px;
      top: -4rem;
      font-weight: 900 !important;
      color:white;
      text-align:left !important;
      margin: 0 !important;
      left: 0 !important;


    }

    .title-input {
      width: 70% !important;

    }
  }


  @media only screen and (max-width: 600px){

  }

  @media only screen and (max-width: 400px) {


  }

  @media only screen and (max-width: 350px) {
    .title-input {
      width: 50% !important;
    }

  }
</style>


<div class="new-article">

<%= form_with(model: @article, local: true) do |form| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div>
      <div class="wrapper">
        <div class="material-textfield blue">
          <%= form.text_field :title , :required => true, class: "title-input" %>
          <label class="label-text" data-content="What Are We Going To Name This Article?"></label>
        </div>
      </div>
    </div>

    <div>
      <div class="file-upload">
        <label for="upload" class="file-upload__label">Upload A Cover Image For Your Article</label>
        <%= form.file_field :cover , class: "file-upload__input", id: "upload"  %>
      </div>
    </div>


  <div class="actions">
    <%= form.button "Start Writing!", class: "submit-btn" , data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>" }%>
  </div>
<% end %>

</div>

<script>
    $("input:file").change(function (){
        $(".file-upload__label").css({
            background:"white",
            color: "black"
        });
    });

    $('.title-input').on( 'keyup', function () {
        if($(".title-input").val() == ''){
            $(".submit-btn").css({
                opacity: "0.3",
                pointerEvents: "none"
            });
        } else {
            $(".submit-btn").css({
                opacity: "1",
                pointerEvents: "auto"
            });
        }
    });
</script>