<%= render 'partials/nav' %>

<div class="opac-inside" style="text-align: center">

  <div class="dropdown-h1">
    <h1 class="article-message">Write Your Article</h1>
  </div>

<%= form_with(model: @article, local: true) do |form| %>
    <% if @article.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

          <ul>
            <% @article.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div>
          <p style="color:white;">Article title</p>
          <%= form.text_field :title , :required => true , class: "article-title-box"%>
    </div>

    <div>
      <div class="file-upload">
        <label for="upload" class="file-upload__label">Change Your Cover Image</label>
        <%= form.file_field :cover , class: "file-upload__input file-upload", id: "upload", name: "file-upload"  %>
        <img src="<%= @article.cover.url(:medium) %>"/>
      </div>
    </div>

      </div>


    <div class="froala">
      <%= form.text_area :body %>
    </div>


    <div class="actions" style="text-align: center;;">
      <%= form.submit "View Article", class: "view-btn submit-btn" %>
    </div>
<% end %>

  <%= render 'partials/footer' %>


<script>
    $(function() {
        $('textarea').froalaEditor({
          theme: "dark",
          heightMin: 300
      });


    });
</script>
