<%= render 'partials/nav2' %>

<style>
  body {
    background:white;
  }

    .main-navbar a {
      color:black;
    }

    .logo {
      filter: invert(100%);
    }

    .icons {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      background:rgb(51,51,51);
      box-shadow: 0 2px 5px 1px rgba(#000, 0.2);
    }

    .article-submitter {
      position: absolute;
      left: 0;
      right: 0;
      top:0;
      margin: auto;
      text-align: center;
      width:auto;
      pointer-events: none;

    }

   .icons p {
     margin-left: 50px;
     transform: translateY(19px) !important;
     font-size:30px;
     color:white;
     font-weight: 100;
   }

    .fa-heart {
      font-size:30px !important;
      cursor: pointer;
      z-index: 999999999999999999999;
    }

    .i-like {
      margin-left: 10px !important;
      display: inline-block;
      transform: translate(-10px,-5px);
      opacity: 0;
    }

    .show-i-like {
    }



    @keyframes show {
      0%{
        transform: translate(-10px,-5px);

        opacity: 0;

      }
      100%{
        transform: translate(0px,-5px);
        opacity: 1;

      }
    }

    .heart:hover .i-like {
      animation: show 500ms ease-in-out forwards;
    }

    .heart {
      cursor: pointer;
      z-index: 999999999999999999;
    }

    .num-of-likes {
      display: inline-block;
      transform: translateY(-5px);
    }

    .icons {
      z-index: 999999999999999999999999999999999999999999999999999999999999999999999999;

    }

    .fr-view {
      margin-bottom: 100px !important;
    }
</style>
<div style=" background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(<%= @article.cover.url(:large) %>) center center no-repeat; background-size: cover" class="image-header">
  <h1><%= @article.title %></h1>
  <% if user_signed_in? %>
      <% if user_signed_in? && current_user.id == @article.user.id %>
       <% if @article.ispublished? == false %>
    <%= link_to publish_article_path(@article), :method => :put do %>
          <button class="publish-btn">Publish Story</button>
       <% end %>
    <% end %>
  <% end %>
 <% end %>
</div>

<div class="icons">
  <%= link_to like_article_path(@article), class: "like-btn", method: :put, remote: :true do  %>
      <p class="heart"><span class="num-of-likes likes-count"><%= @article.get_upvotes.size %></span>


        <% if user_signed_in? %>

      <i style="<% if current_user.liked? @article %> color:rgb(200,50,50); <% else %> color: white;  <% end %>" class="fa fa-heart"></i>


        <% if current_user.liked? @article %>
          <span class="i-like">You Liked This Article!</span>
        <% else %>
            <span class="i-like">I like this article!</span>
      <% end %>

      <% else %>

        <span style="display: inline-block; transform: translateY(-5px)">Likes</span>
        <% end %>

      </p>
  <% end %>
  <p style="transform: translateY(15px) !important;" class="article-submitter">By <%= truncate(@article.user.first_name + " " + @article.user.last_name, length: 100) %></p>
</div>


<% if user_signed_in? %>
  <div class="article-submission">
    <h1 style="color:white;">Congratulations <%= current_user.first_name %> Your Article Was Published!</h1>
  </div>
<% end %>


<div style="margin-top:70px;  margin-left:50px;margin-right: 50px;" class="fr-view">
  <%= raw @article.body %>
</div>



<script>

    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
     var disqus_config = function () {
     this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
     this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
     };
     */
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://tellafiction-com.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();

    $(".publish-btn").click(function(){
        $(".article-submission").addClass("slide-up");
        $(".publish-btn").fadeOut("slow");

        setTimeout(function(){
            $(".article-submission").addClass("slide-down");
        },2500);
    });



</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

