<!-- Top slider -->
<div class="slider">
  <% if @articles.present? %>
    <% @articles.each do |article| %>


        <div style="position: relative;

            <% if article.cover? %>
            background:url(<%= article.cover.url(:medium) %>) center center no-repeat !important;
            <% else %>
            background: lightgrey !important;
            <% end %>

            background-size: cover;" class="slide">

          <a href="/articles/<%= article.id %>">
        <div class="hot-product-overlay ">
            <h1 class="parallax-scroll"><span><%= article.title %></span></h1>
          </a>
          <a href="/user/<%= article.user.username %>">
            <h1 class="parallax-scroll"><span>By <%= article.user.first_name %> <%= article.created_at.strftime('%B/%d/%Y') %></span></h1>
          </a>
        </div>
      </div>
    <% end %>
  <% end %>


  </div>

  <a href="/articles"><p style="transform: translateY(-50px);text-align: center;color:white;">See All Articles <i class="fa fa-arrow-right"></i></p></a>

  <!-- End Top Slider -->