<%= render 'partials/nav2' %>

<div style="background:white !important;" class="sign-in-form">

<h2 style="color:grey;margin-left:70px;transform: translateY(90px);margin-bottom:70px;">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "sign-up-form-form"}) do |f| %>

<div class="form-text">
    <label>
      <%= f.email_field :email, placeholder: "Email" %>
      <span>Email</span>
    </label>

    <label>
      <%= f.text_field :password, placeholder: "Password" %>
      <span>Password</span>
    </label>


  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

    <label>
      <%= f.submit "Log In" %>
    </label>

<% end %>
  </div>
<div style="background: url(http://eskipaper.com/images/fitness-wallpaper-hd-1.jpg) center center no-repeat; background-size:cover;" class="sign-up-img">
  <h1 style="color:white;">Glad To Have You Back</h1>
</div>

</div>

<%= render 'partials/footer' %>