<style>

  h1{
    font-size: 30px;
    color: grey;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
  table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
  }
  .tbl-content{
    height:400px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  

  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: rgb(150,150,150);
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 19px;
    color: grey;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }


  /* demo styles */

  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
    font-family: 'Roboto', sans-serif;
  }
  .table-section{
    margin: 100px;
  }




  /* for custom scrollbar for webkit browser*/

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

    .avatars {
      border-radius: 100%;
      width: 30px;
      height: 30px;
      display: inline-block;
    }


    .ask-a-question {
      border:none;
      background: #e2583d;
      color:white;
      height: 40px;
      cursor: pointer;
    }

  .table-section {
    width: 100% !important;
    margin: 0 !important;
    margin-left: 30px !important;
    margin-right: 30px !important;
    margin-top: 100px !important;
  }


  @media only screen and (max-width: 1200px) {

    .mobile-section {
      display: block !important;
    }

    .table-section {
      display: none !important;
    }

  }

  @media only screen and (max-width: 900px) {

  }


  @media only screen and (max-width: 600px){

    .ask-a-question {
      display: block;
      margin:  0 auto !important;
    }


  }

  @media only screen and (max-width: 400px) {


  }

  @media only screen and (max-width: 350px) {

  }

    .mobile-table {
      text-align:center;
      margin-left: 30px;
      margin-right: 30px;

      white-space: normal;
      border-radius: .3em;
      display: block;
      width: 90%;
      margin: 0 auto;
      margin-top: 20px;
    }

    .mobile-table h1 {
      font-size:17px !important;
    }

    .mobile-section {
      display: none;
      margin-top: 50px !important;
    }

  .pagination {
    display: block;
    margin: 0 auto !important;
    text-align:center;
    margin-top: 30px !important;
  }

  .pagination a {
    color:grey;
    font-size:16px;
    margin-left: 5px;
  }

  .current {
    font-weight: bold;
    font-size: 21px;
    font-style: normal;
  }

  .pagination a:hover {
    color:grey !important;
  }
</style>

<%= render 'partials/nav2' %>

<section class="table-section">
  <!--for demo wrap-->
  <span style="font-size:20px; transform: translateY(3px); display: inline-block;">Latest Questions</span>
  <button onclick="window.location.href='/posts/new'" style=" margin-left: 30px;" class="ask-a-question">Ask A Question</button>

  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
      <tr>
        <th style="width:350px;">Topic</th>
        <th style="width: 220px;">Users</th>
        <th>Replies</th>
        <th>Likes</th>
        <th>Activity</th>
      </tr>
      </thead>

    </table>

  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>


      <% @posts.each do |post| %>
        <tr>
          <td onclick="window.location.href='/posts/<%= post.id %>'" style="cursor: pointer; width: 350px;"><%= truncate(post.title, length: 100) %></td>
          <td style="width: 220px;">
            <% post.comments.limit(5).each do |comment| %>
              <div onclick="window.location.href='/user/<%= comment.user.username %>'" style=" background: <% if comment.user.avatar? %> url(<%= comment.user.avatar.url(:medium) %>) <% else %> url(https://jira.xpand-addons.com/secure/useravatar?size=xsmall&avatarId=12316) <% end %> center center no-repeat; cursor: pointer; background-size: cover;" class="avatars"></div>
            <% end %>
          </td>
          <td><%= post.comments.count %></td>
          <td><%= post.get_upvotes.size %></td>
          <td> <span class="time" style="font-size:12px; font-weight: bold;">asked</span> <span style="font-size:14px;"><%= Time.at((Time.now - post.created_at).round.abs).utc.strftime "%H:%M:%S" %></span> <span style="font-size:12px; font-weight: bold;">ago</span></td>
        </tr>
      <% end %>



      </tbody>
    </table>
  </div>
</section>


<div class="mobile-section">
  <button onclick="window.location.href='/posts/new'" style=" margin-left: 30px;" class="ask-a-question">Ask A Question</button>

  <% @posts.each do |post| %>

    <div class="mobile-table">
      <h1  onclick="window.location.href='/posts/<%= post.id %>'" style="cursor: pointer;  color:rgb(100,150,200);   padding-bottom:10px; padding-top: 10px; text-align:center !important; display: block;margin: 0 auto !important;"><%= truncate(post.title, length: 100) %></h1>
      <div style="padding-bottom: 20px;">
        <% post.comments.limit(5).each do |comment| %>
            <div onclick="window.location.href='/user/<%= comment.user.username %>'" style=" display: inline-block; margin: 0 auto; background: <% if comment.user.avatar? %> url(<%= comment.user.avatar.url(:medium) %>) <% else %> url(https://jira.xpand-addons.com/secure/useravatar?size=xsmall&avatarId=12316) <% end %> center center no-repeat; cursor: pointer; background-size: cover;" class="avatars"></div>
        <% end %>
      </div>
      <p>Replies: <%= post.comments.count %></p>
      <p>Likes: <%= post.get_upvotes.size %></p>
      <p style="padding-bottom: 30px;"> <span class="time" style=" font-size:12px; font-weight: bold;">asked by <%= truncate(post.user.first_name + " " + post.user.last_name, length: 100) %></span> <span style="font-size:14px;"><%= Time.at((Time.now - post.created_at).round.abs).utc.strftime "%H:%M:%S" %></span> <span style="font-size:12px; font-weight: bold;">ago</span></p>
    </div>

<% end %>

</div>

<%= will_paginate @posts %>

<%= render 'partials/footer' %>

<script>
    // '.tbl-content' consumed little space for vertical scrollbar, scrollbar width depend on browser/os/platfrom. Here calculate the scollbar width .
    $(window).on("load resize ", function() {
        var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
        $('.tbl-header').css({'padding-right':scrollWidth});
    }).resize();


</script>