<h1>
  <%= @post.title %>
</h1>
<p>
  <%= @post.content %>
</p>
<div id="comments"></div>
<h4>
  <%= @post.comments.count %> comments
</h4>
<%= render @post.comments %>
<h3>Reply to thread</h3>
<%= render 'comments/form' %>
<%= link_to "Forum", posts_path %>
<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
